.mobileapplications {
    background-color: var(--white);
    padding-top: 80px;
    padding-bottom: 76px;
}

.mobileapplications__tittle{
    margin: 0 0 12px;
}

.mobileapplications_list {
    list-style-type: none;
    margin: 52px 0 40px;
    padding: 0;
}

.mobileapplications_list_item {
    display: flex;
    align-items: center;

}

.mobileapplications_list_item + .mobileapplications_list_item {
    margin:  30px 0 0;
}

.mobileapplications__image {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 90px;
    height: 90px;
    border: 1px solid var(--blue);
    border-radius: 50%;
    box-shadow:0 0 0 9px var(--white),0 0 0 10px var(--grey-3);
}
.mobileapplications__content{
    margin: 0 0 0 18px;

}


@media (min-width: 768px) {
    .mobileapplications_list{
        display: flex;
        margin: 62px 0 50px;
    }

    .mobileapplications {
        padding-top: 110px;
        padding-bottom: 106px;
    }
    .mobileapplications_list_item {
        flex-direction: column;
    }
   
    .mobileapplications_list_item + .mobileapplications_list_item {
        margin:0 0 0 30px;
    }
    .mobileapplications__content{
        margin:20px 0 0;
        text-align: center;
    
    }
}

@media (min-width: 992px) {
    .mobileapplications_list_item {
        flex-direction: row;
        align-items: flex-start;
    }

    .mobileapplications__content{
        margin:0 0 0 18px;
        padding: 46px 0 0;;
        text-align: left;
    }

}