.project {
    background-color:var(--grey-1);
    padding: 100px 0 120px;
}

.project__title {
    margin: 0 0 40px;
}

.project__text {
    margin: 0 0 66px;
}
.project__list {
    display: flex;
    margin-bottom: 40px;
}

.project__item + .project__item {
    margin: 0 0 0 30px;
}

.project__item {
}

@media (max-width: 768px){
    .project__list{
        flex-wrap: wrap;
        justify-content: center;
    }

    .project__item + .project__item{
        margin: 0;
    }
}