html {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--black);
    height: 100%;
    line-height: 25px;
}

* {
    box-sizing: border-box;

}
img {
    max-width: 100%;
    
}

h1, h2, h3, ul, li,p {
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
span{
    font-size: 36px;
    line-height: 53px;
    color: var(--black);
}
button{
    cursor: pointer;
}
.page__title {
    font-weight: 500;
    line-height: 20px;
    font-size: 16px;
    margin: 0 0 20px;
}
.page__title_h2{
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    color: var(--black);
    margin: 0 0 36px;
}

.page__title_h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--black);
}
.page__button {
    line-height: 20px;
    background-color: var(--blue);
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    padding: 12px 36px 12px;
    color: var(--white);
    text-decoration: none;
    display: inline-block;
}
.container__button{
    display: flex;
    justify-content: center;
 }

.page__text{
    font-size: 16px;
    line-height: 24px;
    color: var(--grey);
}

.page__text_small{
    font-size: 14px;
    line-height: 22px;
    color: var(--grey);

}

.u-visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 16px;
}

.container__small {
    max-width: 740px;
    margin: 0 auto;
    text-align: center;
    padding: 0 16px;
}

@media (min-width: 768px) {
    .container {
        padding: 0 24px;

    }

    .page__title_h2{
        font-size:36px;
        line-height: 53px;

    }

}

.primary__link{
    color: var(--blue);
    text-decoration: underline;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.primary__link:hover{
    text-decoration: none;
